@import "spacespace/assets/css/general";
@import "spacespace/assets/css/plugins/owl.carousel.min.css";
@import "spacespace/assets/css/plugins/magnific-popup.css";
@import "spacespace/assets/css/flaticon.css";
@import "spacespace/assets/css/reset";

@import "spacespace/assets/css/home-version";
@import "spacespace/assets/css/page";
@import "spacespace/assets/css/style";
@import "spacespace/assets/css/shop";
@import "spacespace/assets/css/responsive.css";
@import "../../../assets/sass/variables";
@import "../../../assets/sass/frontend/category";
@import "../../../assets/sass/frontend/catalog";
@import "../../../assets/sass/frontend/checkout";

.logo-area {
  padding: 0;
  img{
    max-width: 200px;
  }
}

#header-area{
  box-shadow: 0px 1px 17px #afafaf8c;
}

.tab-content .list-group{
  margin:2em 0;
}

#product-description-tab-content{
  margin:2em 0;
}

.sidebar-body .media img{
  width: 76px;
  height: 76px;
}

.categoryfillter ul li {
  border-bottom: none;
}
.categoryfillter span {
  border-bottom: none;
  padding: 0;
}

.categoryfillter {
  margin-top: 2em;
}

.news-thum{
  border-radius: 0;
  height:18em;
}

.single-widget, .single-news-content {
  margin-bottom: 2em;
}

.blog-desc{
  max-height: 5em;
  overflow: hidden;
}

.sub-menu{
  .subchild-menu{
    position: absolute;
    left: 200px;
    top:0;
    display: none;
    width: 200px;
    ul{
      li{
        color: #ffffff;
        background-color: $theme-color;
      }
    }
  }
  .dropdown-submenu:hover{
    .subchild-menu{
      display: block;
      .dropdown-item{
        color: #ffffff;
        background-color: $theme-color;
      }
      .dropdown-item:hover{
        color: #ffffff;
        background-color: #333333;
      }
    }
  }
}

.slicknav_nav{
  i{
    display: none;
  }
  .sub-menu{
    .subchild-menu{
      position: relative;
      left: 0px;
      top:0;
      display: none;
      width: 200px;
      ul{
        li{
          color: #ffffff;
          background-color: $theme-color;
        }
      }
    }
    .dropdown-submenu:hover{
      .subchild-menu{
        display: block;
        .dropdown-item{
          color: #ffffff;
          background-color: $theme-color;
        }
        .dropdown-item:hover{
          color: #ffffff;
          background-color: #333333;
        }
      }
    }
  }
}

.sub-side-ul{
  li:first-child{
    padding-top: 12px!important;
  }
  .sub-side{
    padding: 12px 0 12px 12px;
  }
}
.page-title.section-title p{
  color:#fff;
}

.product-content{
  h4{
    font-size: 14px;
    font-weight: 600;
    height: 2.5em;
    color: #616161;
    letter-spacing: 0.6px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
  }
  border-radius: 0 0 5px 5px;
  font-size: 13px;
  line-height: 1.9em;
  padding: 25px 20px 25px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-content, .product-content a, .product-content h4{
  color: #616161;
  letter-spacing: .6px;
  -webkit-transition: .3s;
  transition: .3s;
}

.single-news-content:hover .product-content {
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
}

.project-infor{
  margin:2em 0;
}

#payment-form .payment-method-title{
  background-color:unset;
  color:#000;
  padding:unset;
}
.about-text{
  p{
    margin-bottom: 10px;
  }
}
.about-item{
  p{
    margin: 15px 0;
  }
  h3{
    font-family:'Source Sans Pro', sans-serif;
    text-transform:uppercase;
    position: relative;
    text-align: center;
    margin-bottom:1.2em ;
    &:after{
      background-color: $theme-color;
      border-radius: 50px;
      bottom: -10px;
      content: "";
      height: 5px;
      left: 50%;
      margin-left: -35px;
      position: absolute;
      width: 70px;
    }
  }
  h2{
    font-family:'Source Sans Pro', sans-serif;
    text-transform:uppercase;
    text-align: center;
    position: relative;
  }
  padding: 15px;
  border-radius: 5px;
  border:1px solid #e3e3e3;
  margin-bottom:2em;
}